<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.mapper.PluginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ym.pojo.Plugins">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="creator" property="creator" />
        <result column="updatetime" property="updatetime" />
        <result column="installnum" property="installnum" />
        <result column="description" property="description" />
        <result column="likenum" property="likenum" />
        <result column="support" property="support" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, avatar, creator, updatetime, installnum, description,likenum,support,flag
    </sql>

    <delete id="deleteByUserId">
        DELETE
        FROM
            t_user_plugin
        WHERE
            uid = ${uid}
          AND pid = ${pid}
    </delete>

    <select id="findAllByUserId" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_plugins p, t_user_plugin up
        WHERE
            up.uid = ${uid}
          AND up.pid = p.id
          AND p.flag = 1
    </select>

    <select id="findAllByUserIdAndName" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_plugins p, t_user_plugin up
        WHERE
            up.uid = ${uid}
          AND up.pid = p.id
          AND p.flag = 1
          AND   p.name LIKE concat('%', #{name}, '%')
    </select>

    <insert id="addByUserId">
        INSERT INTO t_user_plugin
        VALUES
            ( ${uid},
             ${pid})
    </insert>

    <select id="findUnInstallByUserId" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_plugins p
        WHERE
            p.flag = 1
          AND   p.id NOT IN (
                SELECT
                    id
                FROM
                    t_plugins p,
                    t_user_plugin up
                WHERE
                    up.uid = ${uid}
                  AND up.pid = p.id)
    </select>

    <select id="findUnInstallByUserIdAndName" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            t_plugins p
        WHERE
            p.flag = 1
          AND   p.name LIKE concat('%', #{name}, '%')
          AND   p.id NOT IN (
            SELECT
                id
            FROM
                t_plugins p,
                t_user_plugin up
            WHERE
                up.uid = ${uid}
              AND up.pid = p.id)
    </select>
</mapper>
